
.chartTitle{
    height: 70px;
}

.titleContent{
    display: flex;
    justify-content: space-between ;
}

.titleItem {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.titleValue1{
    font-weight:bold;
    font-size: 18px;
    color:#f04864;
}

.titleValue2{
    font-weight:bold;
    font-size: 18px;
    color:#2fc25b;
}

.titleValue3{
    font-weight:bold;
    font-size: 18px;
    color:block;
}
