.overview{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 20px;
    
    height: 600px;
}

.chart{
    width: 70%;
}

.chartTitle{
    height: 60px;
}

.titleContent{
    display: flex;
    justify-content: space-between ;
}

.titleItem {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.titleValue1{
    font-size: 18px;
    color:green;
}

.titleValue2{
    font-size: 18px;
    color:block;
}

.chartCandle{
    /* background-color: rgb(18, 29, 50); */
}

.new{
    width: calc(30% - 10px);
    /* width: calc(100% - 1140px); */
}
