.overview{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 20px;
    
    height: 600px;
}

.chart{
    width: 70%;
}

.chartTitle{
    height: 60px;
}

.titleContent{
    display: flex;
    justify-content: space-between ;
}

.titleItem {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.titleValue1{
    font-weight:bold;
    font-size: 18px;
    color:#f04864;
}

.titleValue2{
    font-weight:bold;
    font-size: 18px;
    color:#2fc25b;
}

.titleValue3{
    font-weight:bold;
    font-size: 18px;
    color:block;
}

.new{
    width: calc(30% - 20px);
}
