.manual .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #a0d911;
  border-color: #a0d911;
}
.manual .ant-radio-button-wrapper-checked:last-child {
  background: #f5222d!important;
  border-color: #f5222d!important;
}
.manual .ant-radio-button-wrapper-checked::before {
  background-color: #f5222d!important;
  opacity: 1;
}
.manual .ant-radio-button-wrapper:hover {
  color: rgba(0, 0, 0, 0.65);
}
.manual .require label::before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}
.manual .btns .submit {
  float: right;
  margin-right: 10px;
}
.manual .btns .show {
  display: block !important;
}
.manual .btns .hidden {
  display: none !important;
}
.manual .btns .edit-btn,
.manual .btns .edit {
  float: right;
  margin-right: 10px;
}
.manual .btns .edit {
  display: none;
}
.manual .btns .edit .save {
  margin-right: 10px;
}
