.header-account{
  float: right;
  margin-right: 22px;
  display: flex;
}
.header-account .header-balance{
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}
.header-account .header-balance .count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.header-account .header-balance .count-item{
  font-size: 14px;
  padding: 0;
  line-height: 16px;
}
.header-account .tran-item{
  margin-left: 13px;
}
.header-account .name{
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
